.empty-cart-message {
    text-align: center;
    margin-top: 10%;
  }
  
  .empty-cart-message h1 {
    font-size: 24px;
    color: #333; 
  }
  
@media screen (max-width: 767px){
  .box_wapper_wish_list{
    
  }
}