.product-details-header {
  background-color: #f0f0f078;
  padding: 10px;
}

.product-details-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details.checkout{
  position: static;
}

.product-details-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.product-details-logo box-icon {
  margin-right: 5px;
}

.cart-message h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.items-container {
  /* margin-top: 20px;
  margin-left: 58px; */
}

.item {
  /* border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between; */
  /* width: 63rem;
  height: 11rem; */
}

.item-details {
  flex: 1;
}

.item-actions {
  display: flex;
  align-items: center;
}

.item-actions input {
  width: 40px;
}

.icons span {
  margin-right: 10px;
  cursor: pointer;
  color: blue;
}

.icons span:hover {
  text-decoration: underline;
}

/* else condition for h1 tag */
.empty-cart-message {
  text-align: center;
  margin-top: 10%;
}

.empty-cart-message h1 {
  font-size: 24px;
  color: #333; 
}
