/* styles.css */
.body {
  /* padding-left: 1rem;
  padding-right: 1rem; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* padding: 10px 20px; */
  color: #000;
}
/* Added new CSS rules */
.searchbar-longer {
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px; /* Adjust the width as needed */
  background-color: #dddddd; /* Gray color */
}
.product-category {
  /* display: flex;
  flex-wrap: wrap; */
}

.search-input {
  border: 0;
  /* width: 100%;
  height: 52px;
  background-color: #f0f1f5;
  border-radius: 7px;
  padding-left: 20px; */
  background-image: url("../../images/search1.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}

.product-item {
  /* width: 150px; */
  margin: 10px;
  text-align: center;
}

.productImage {
  border-radius: 50%; /* Makes the image circular */
  background-color: #ccc; /* Grey background color */
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  transition: transform 0.3s ease; /* Adds transition effect */
}

.product-item:hover .productImage {
  transform: scale(1.1); /* Scales the image on hover */
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.searchbar {
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin-right: 10px;
}

.btn {
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-outline-secondary {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}

.btn-outline-secondary:hover {
  background-color: #000;
  color: #000;
}
/* Home.css */

.body {
  position: relative;
}

.slider-container {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  display: flex;
}

.slider-banner {
  width: 370px;

  margin-right: 10px; /* Adjust spacing between banners */
}

.slider-banner img {
  max-width: 100%;
}

.header {
  /* Add any styles for header/navbar */
}
.top-search {
  position: relative;
}

.search-input {
  padding-right: 30px; /* Adjust as needed */
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
