.details-container {
  max-height: 150px; 
  overflow: auto; 
}
.bold-text {
  font-weight: bold;
}
.show-more-link {
  text-decoration: none;
}
.product-details-quantity-btn {
  background-color: rgb(59, 190, 59);
  color: white;
  border: none;
  width: 40px; /* Increased width */
  height: 40px; /* Increased height */
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold; /* Make the signs bold */
  font-size: 20px; /* Increased font size */
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-details-quantity-btn:hover {
  background-color: rgb(59, 190, 59);
}
.product-details-quantity-button p {
  margin-right: 10px;
}
.product-details-total-price p {
  font-weight: bold;
}
.product-details-rating {
  display: flex;
  align-items: center;
}
.product-details-rating p {
  margin-right: 5px;
}
.product-details-rating .star {
  color: rgb(255, 58, 117);
}
.product-details-your-rating {
  margin-right: 10%;
  color: grey;
}
.product-details-star-rating {
  display: flex;
}
.product-details-star-rating .star {
  color: rgb(255, 58, 117);
  margin-right: 5px;
}
.product-details-name {
  font-family: 'Raleway', sans-serif; /* Use Raleway font */
  font-weight: bold; /* Make it bold */
}
.product-details-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.product-details-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.product-details-logo {
  display: flex;
  align-items: center;
}
.product-details-title {
  margin-left: 10px;
  font-weight: bold;
}
.product-details-image-container {
  position: relative;
  z-index: 1;
}
.product-details-kcal-circle {
  position: absolute;
  bottom: 0;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
  padding: 2px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.product-details-cal-value,
.product-details-cal-unit {
  display: inline-block;
}
.product-details-cal-value {
  font-size: 40px;

}
.product-details-cal-unit {
  font-size: 14px;
  color: rgb(0, 0, 0);
}
.product-details-info {
  padding-top: 20px;
}
.product-details-name {
  font-size: 24px;
  margin-bottom: 10px;
}
.product-details-description {
  color: grey;
  font-weight: bold;
}
.product-details-price-rating-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.product-details-price-tag {
  margin-right: 20px;
}
.product-details-price {
  font-weight: normal;
  font-size: 1.2rem;
  color: rgb(255, 58, 117);
}
.product-details-price span {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(255, 58, 117);
}
.product-details-discount {
  color: red;
}
.product-details-rating-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.product-details-star-rating {
  color: rgb(255, 58, 117);
  margin-right: 5px;
  font-size: 24px;
}
.product-details-your-rating {
  margin-bottom: 10px;
}
.product-details-your-rating p {
  margin-bottom: 5px;
}
.product-details-quantity-container {
  margin-top: 20px;
}
.product-details-quantity-button {
  display: flex;
  align-items: center;
}
.product-details-quantity-btn {
  background-color: rgb(59, 190, 59);
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.product-details-quantity-input {
  width: 50px;
  text-align: center;
  border: none; /* Remove the border */
  border-radius: 4px;
  margin: 0px;
  font-size: 1.5rem;
}
.product-details-add-to-cart-btn {
  background-color: rgb(59, 190, 59);
  color: white;
  width: 100%;
  max-width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold; /* Make the button text bold */
}
.product-details-add-to-cart-btn:hover {
  background-color: rgb(59, 190, 59);
}
.product-details-total-price {
  margin-left: 16px;
  font-size: 14px;
  color: grey;
}
.cart-badge {
  position: absolute;
  top: -15px; /* Adjust as needed */
  right: -16px; /* Adjust as needed */
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 50%;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Media Queries */
@media only screen and (max-width: 768px) {
  .product-details-navbar {
    padding: 10px;
  }
  .product-details-content {
    margin-top: 60px;
  }
  .product-details-info {
    padding: 15px;
  }
  .product-details-header {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.product-details-container {
  position: relative;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}
.product-details-content {
  margin-top: 80px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  max-height: calc(100vh - 80px);
}
.product-details-image {
  width: 80%;
  margin: 0 auto;
  display: block;
}
@media only screen and (max-width: 768px) {
  .product-details-content {
    margin-top: 60px;
    max-height: calc(100vh - 60px);
  }
}